<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vendedor - Generar Venta</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendedor.css') }}">
</head>
<body>
    <div class="container text-center mt-5">
        <h1 class="mb-4">VENDEDOR</h1>
        <h3 class="mb-4">INGRESE LOS DATOS NECESARIOS</h3>
        <form method="POST" action="/vendedor/ventas">
            <div class="mb-3">
                <label for="vehiculo" class="form-label">SELECCIONAR VEHÍCULO:</label>
                <input type="text" class="form-control gradient-input" id="vehiculo" name="vehiculo" required>
            </div>
            <div class="mb-3">
                <label for="nombre" class="form-label">NOMBRE DEL CLIENTE:</label>
                <input type="text" class="form-control gradient-input" id="nombre" name="nombre_cliente" required>
            </div>
            <div class="mb-3">
                <label for="apellido" class="form-label">APELLIDO DEL CLIENTE:</label>
                <input type="text" class="form-control gradient-input" id="apellido" name="apellido_cliente" required>
            </div>
            <div class="mb-3">
                <label for="dni" class="form-label">DNI DEL CLIENTE:</label>
                <input type="text" class="form-control gradient-input" id="dni" name="dni_cliente" required>
            </div>
            <div class="mb-3">
                <label for="telefono" class="form-label">TELÉFONO DEL CLIENTE:</label>
                <input type="text" class="form-control gradient-input" id="telefono" name="telefono_cliente" required>
            </div>
            <div class="mb-3">
                <label for="direccion" class="form-label">DIRECCIÓN DEL CLIENTE:</label>
                <input type="text" class="form-control gradient-input" id="direccion" name="direccion_cliente" required>
            </div>
            <div class="mb-3">
                <label for="pago" class="form-label">MÉTODO DE PAGO:</label>
                <input type="text" class="form-control gradient-input" id="pago" name="metodo_pago" required>
            </div>
            <button type="submit" class="btn btn-lg gradient-btn">CONFIRMAR VENTA</button>
        </form>
    </div>

    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>
